# User-specific files
*.user
*.vspscc

# User-specific files (Windows)
Thumbs.db
ehthumbs.db

# Build results
[Bb]in/
[Oo]bj/

# ASP.NET
*.dbmdl
.vs2019/
.vs2017/

# .NET Core
project.lock.json
project.fragment.lock.json

# Ignorar el directorio .vs (Visual Studio)
.vs/

# Ignorar el directorio obj (archivos de compilación)
obj/

# Ignorar la carpeta obj/Debug/net8.0
HotelASP.NET/obj/Debug/net8.0/
